body {
    background-color: indigo;
    background-image: url('goku.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-family: cursive;
    border: gold solid;
    border-radius: 10px;
    border-style: dotted;
    background-color: darkorchid;
}