body {
    background-color: indigo;
    background-image: url('../midia/goku.png');
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 30%;
}

h1 {
    text-align: center;
    color: goldenrod;
    font-family: cursive;
    border: gold solid;
    border-radius: 10px;
    border-style: dotted;
    background-color: darkmagenta;
}


body fieldset {
    color: white;
    border-color: gold;
    border-style: solid 20%;
    background-size: 30%;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 10px;
}

legend {
    color: white;
}

button {
    background-color: darkmagenta;
    color: white;
    border-radius: 10px;
    width: 100px;
    height: 40px;
}

#d {
    border-radius: 50px;
}